@import url(https://fonts.google.com/share?selection.family=Galada|Tac+One);
body{
    background-color:#00B3AD ;
}
h1{
    color: #006663;
    background-color: #FF6B1A;
}
h2{
    color: #006663;
    background-color: #FF6B1A;
}
p{
    color: #B33F00;
    font-family: "Satisfy", cursive;

}